.br{
    width:750px;
    height:10px;
    background:rgba(221,221,221,1);
}

.bzsr{
    height: 340px;
    width:93.07%;
    margin:0 auto;
    padding:0 auto;
    background:rgba(255,255,255,1);
    border:2px solid rgba(203,203,203,1);
    border-radius:10px;
    font-size:24px;
}
.bz{
    font-size:26px;
    margin-left:38px;
}

.btn{
    margin-left:26px;
    margin-right: 26px;
    margin-top: 200px;
}
