.floatLayer{
    width:650px;
    height: 895px;
    margin: 0px;
}

.label{
    font-size:26px;
    color:#818181;
}

.value{
    font-size: 81px;
    color:red;
}

.doller_icon{
    font-size:40px;
    color:red;
}

.submit{
    margin-left:95px;
    margin-right:95px;
    margin-bottom:67px;
}

.item_je{
    text-align: center;
}

.item{
    margin-bottom: 31px;
}