.floatLayer{
    width:650px;
    height: 895px;
    margin: 0px;
    margin-left:50px;
    margin-right: 220px;
}

.value{
    font-size: 81px;
    color:red;
}

.doller_icon{
    font-size:40px;
}

.submit{
    margin-left:95px;
    margin-right:95px;
    margin-bottom:67px;
}