page{
    width: 100%;
    height: 100%;
}

@font-face{
    src: url('http://imgs.guoxiaoge.cn/PingFang.ttf');
    font-family: "Apple_PingFang";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    src: url('http://imgs.guoxiaoge.cn/stheitisc.ttf');
    font-family: 'Apple_HeiTi';
    font-weight: normal;
    font-style: normal;
}