.bk{
    
    border-radius: 50%;
    background-color: blue;
}

.duiIcon{
    width: 140px;
    height: 140px;
    margin-left: 305px;
    margin-top:314px;
}
.hyxc{
    font-size: 36px;
    color:#6699FF;
    margin-left: 305px;
}
.tfInfo{
    font-size:24px;
    color:#9d9d9d;
    margin-left: 302px;
}

.pjbtn{
    width:200px;
    height:70px;
    margin-top: 56px;
    margin-left: 275px;
    border:2px solid rgba(102,153,255,1);
    border-radius:16px;
}

.pj{
    color:rgb(102,153,255);
    font-size:30px;
    text-align: center;
    margin-left: 56px;
}

.pjInfo{

}

.pjMsg{
    color:#9d9d9d;
    font-size: 24px;
    margin-left: 275px;
}

.Info{
    margin-top:142px;
    margin-left: 95px;
}

.ts{
    color:#9d9d9d;
    font-size:24px;
}